doctype html
html
  head
    title 404 NOT FOUND
    link(rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon")
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
  body
    div(style="margin:50px 0;")
      div(style="border:1px solid #ddd;border-radius:10px;text-align:center;margin:0 auto;width:900px;background:#fff;padding:50px 20px 80px 20px;")
        div(style="width:520px;height:320px;margin:0 auto;")
          img(src="/img/notfound.gif")
        p(style="font-size:20px;") 啊~哦~ 您要查看的页面不存在或已删除！
        p 您可以回到
          a(href="/") 网站首页