fieldset
  .block.block-info
    .block-content
      .heading
        if (problem)
          = 'EditProblem '
          a(href="/problem?pid="+problem.problemID)= problem.problemID
        else
          = 'AddProblem'
      .inner
        if (problem)
          include editproblem
          +editproblem(problem, user, partial, files, imgs)
        else
          form.form-horizontal(method="post")
            button.btn.btn-default.btn-lg(type="submit") 快速新建题目
  script(type="text/javascript")
    | var _pid = #{problem ? problem.problemID : ""};
