fieldset
  .block.block-info
    .block-content
      .heading= title
      .inner.form-horizontal
        .form-group
          label.control-label.col-sm-2(for="topic_title") 标题：
          .col-sm-5
            input#topic_title.form-control(value=(topic ? topic.title : "") type="text" placeholder="请在此输入标题")
        .form-group
          label.control-label.col-sm-2 内容：
          .col-sm-8
            textarea#content
              if (topic)
                != topic.content
        if (!topic)
          .form-group
            label.control-label.col-sm-2(for="vcode") 验证码：
            .col-sm-2
              input#vcode.form-control(type="text")
            .col-sm-2
              #vcimg.vcode(title="点击换一张")
                img(src=dataURL)
        .form-group
          .col-sm-offset-2.col-sm-10
            a#submit.btn.btn-default(href="javascript:;") 发布
            = ' '
            span#err.error-text
script(type="text/javascript").
  var _tid = #{topic ? topic.id : 0};
