- var img = 'img/avatar/%3Ddefault%3D/', imgType = 'jpeg';
if (user.imgType)
  - img = 'img/avatar/'+user.name+'/';
  - imgType = user.imgType;
fieldset
  .block.block-info
    .block-content
      .heading 修改我的头像
      .inner
        .form-group
          .row
            .col-md-offset-3.col-md-3
              img.img-250.img-round(src=img+"1."+imgType)
              p 250X250
            .col-md-2
              img.img-150.img-round(src=img+"2."+imgType)
              p 150X150
            .col-md-4
              img.img-75.img-round(src=img+"3."+imgType)
              p 75X75
              img.img-50.img-round(src=img+"4."+imgType)
              p 50X50
        .row
          .col-md-offset-3.col-md-5
            .form-group
              include upload
              +upload('file', 'img', '/avatar/upload')
              span.user-gray 注意：仅支持jpeg, jpg, png格式
            button#upload.btn.btn-default 确认上传
            = ' '
            span#imgerr.error-text
