<!--<html>-->
<div class="CeWindow" id="dialog_bc" style="top:25%;">
  <div style="margin:0;max-height:300px;overflow:auto;">
    <div class="bc_box">
      <div class="jqDrag bc_header">Notice</div>
      <div class="bc_content"></div>
    </div>
  </div>
  <span class="bc_close jqclose"></span>
</div>