<!--<html>-->
<div class="jqmSubmit" id="dialog_lc" style="width:400px;height:190px;top:25%;">
  <div class="jqDrag jqtop">Login contest</div>
  <div class="jqcontent" style="width:390px;height:100px;padding-left:10px;">
    <div style="padding-top:10px;">
      <label for="contest_password" style="font-size:12px;">Password *</label>
      <input type="password" class="jqtext" style="width:370px;" id="contest_password">
    </div>
    <small id="contest_error" class="error-text"></small>
  </div>
  <div class="jqfoot">
    <a class="uibtn" href="javascript:;" id="contest_submit">Login</a>
    <a class="uibtn contestclose" href="javascript:;">Cancel</a>
  </div>
  <div class="jqResize"></div>
  <i class="contestclose jqclose"></i>
</div>