mixin D_login_by_token(info)
  - var img = '/img/avatar/%3Ddefault%3D/3.jpeg';
  if (info.img)
    - img = '/img/avatar/'+info.username+'/3.'+info.img;
  #dialog_lgbtk.jqmSubmit(style="width:300px;height:210px;top:15%;")
    .block
      .block-content
        .jqDrag.heading Fast Login
        .jqcontent.container(style="width:300px;height:135px;padding:0;")
          div(style="text-align:center;padding-top:20px;overflow:visible;")
            a#fast_login(href="javascript:;" title="PRESS To Login")
              img(src=img)
          div(style="text-align:center;")
            span.user-black(style="font-size:12px") Hello, #{info.username}
      .jqfoot
        span.fr
          a.user-gray#switch(href="javascript:;" style="font-size:12px") Switch Account
        small#fast_login_err.error-text
      i.login_by_token_close.jqclose
