<!--<html>-->
<div class="jqmSubmit" id="dialog_lg" style="width:350px;height:250px;top:15%;">
  <div class="jqDrag jqtop">Login</div>
  <div class="jqcontent" style="width:340px;height:160px;padding-left:10px;">
    <div>
      <label for="login_username">User Name *</label>
      <input type="text" class="jqtext" style="width:320px;" id="login_username">
    </div>
    <div>
      <label for="login_password">Password *</label>
      <input type="password" class="jqtext" style="width:320px;" id="login_password">
    </div>
    <small id="login_error" class="error-text"></small>
  </div>
  <div class="jqfoot">
    <a class="uibtn" href="javascript:;" id="login_submit">Login</a>
    <a class="uibtn loginclose" href="javascript:;">Cancel</a>
  </div>
  <div class="jqResize"></div>
  <i class="loginclose jqclose"></i>
</div>