#dialog_lc.jqmSubmit(style="width:400px;height:190px;top:25%;")
  .jqDrag.jqtop Login contest
  .jqcontent.container(style="width:390px;height:100px;")
    .form-group
      label(for="contest_password") Password *
      input#contest_password.form-control.input-sm(type="password")
  .jqfoot
    span.pull-right
      a#contest_submit.btn.btn-default(href="javascript:;") Login
      a.contestclose.btn.btn-default(href="javascript:;") Cancel
    small#contest_error.error-text
  .jqResize
  i.contestclose.jqclose.img_link
