mixin D_settings(u)
  #dialog_st.jqmSubmit(name=u.name style="width:550px;height:540px;top:12%;")
    .jqDrag.jqtop Settings
    .jqcontent.container(style="width:550px;height:445px;")
      .row
        .col-sm-6
          .form-group
            label(for="oldpassword") Old Password *
            input#oldpassword.form-control.input-sm(type="password")
          .form-group
            label(for="newpassword") New Password
            input#newpassword.form-control.input-sm(type="password")
            small.help-block Leave it blank if not to change password
            label(for="password_repeat") Confirm New Password
            input#password_repeat.form-control.input-sm(type="password")
          .form-group
            label(for="set_nick") Nick Name *
            input#set_nick.form-control.input-sm(type="text" value=u.nick ? u.nick : "")
          .form-group
            label(for="set_school") School
            input#set_school.form-control.input-sm(type="text" value=u.school ? u.school : "")
          .form-group
            label(for="set_email") Email
            input#set_email.form-control.input-sm(type="text" value=u.email ? u.email : "")
        .col-sm-6
          label(for="signature") Signature
          textarea#signature.form-control.input-sm(style="height:360px;")
            if (u.signature)
              = u.signature
    .jqfoot
      span.pull-right
        a#set_submit.btn.btn-default(href="javascript:;") Submit
        a.setclose.btn.btn-default(href="javascript:;") Cancel
      small#set_error.error-text
    .jqResize
    i.setclose.jqclose.img_link
