mixin D_submit(langs)
  #dialog_sm.jqmSubmit(style="height:585px;width:500px;top:5%;")
    .jqDrag.jqtop Submit your CODE here
    .jqcontent.container(style="height:490px;width:500px;")
      .row.form-group
        .col-sm-6
          .input-group.input-group-sm
            .input-group-addon Problem
            span#pid.form-control.user-green
        .col-sm-6
          .input-group.input-group-sm
            .input-group-addon Language
            include lang
            +lang(langs, null)
      .form-group
        label(for="submit_code") Source Code
        textarea#submit_code.form-control(style="height:390px;")
    .alert.alert-danger(style="position:absolute;margin:0 50px 0 40px;bottom:100px;")
      include i64_info
    .jqfoot
      span.pull-right
        a#jqcodesubmit.btn.btn-default(href="javascript:;") Submit
        a.submitclose.btn.btn-default(href="javascript:;") Cancel
      small#error.error-text
    .jqResize
    i.submitclose.jqclose.img_link
