| Please do not use the %I64d (or similar) specificator to read or write 64-bit integers in Сpp. It is preferred to use cin, cout streams or the %lld specificator. Press button to submit the solution.
button.close(type="button") &times;
