<!-- <html> -->
<% var c = clazz ? clazz : 'input-small'; %>
<select class="<%= c %>" id="lang">
<% for (var i = 1; i < langs.length; i++) { %>
	<option value='<%= i %>' <% if (i == 2) { %>selected="selected"<% } %>><%= langs[i] %></option>
<% } %>
</select>