doctype html
html
  head
    title NOT SUPPORTED
    link(rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
  body
    div(style="margin:50px 0;")
      div(style="border:1px solid #ddd;border-radius:10px;text-align:center;margin:0 auto;width:900px;background:#fff;padding:50px 20px 80px 20px;")
        p(style="font-size:20px;") 抱歉，新版 ACdream 不支持 IE7 或以下版本浏览器
