- var stc = [];
- stc.push("ACdream群欢迎你：167655270")
- stc.push("这里是广告位，也可以用来仰慕神牛,想发布吗，到讨论版看看吧")
- stc.push("喝着拿铁啃着蛙，我是傻逼乐哈哈")
- stc.push("谷歌付若阁")
- stc.push("适厉害啊")
- stc.push("世界冠军程六章到此一游")
- stc.push("欢迎互黑")
- stc.push("晴天最萌了")
- stc.push("不管是信春哥还是信曾哥，都能得永生不挂科")
- stc.push("给自己一个坚持下去的理由：每天至少AC一道题，一年之后你也可以是大神！Fighting！")
- stc.push("早起一水，冒泡防T")
- stc.push("组合数学靠运气，计算几何瞎暴力，图论一顿套模板，数论只会GCD")
- stc.push("模拟只会猜题意，贪心只能过样例，数学上来先打表，DP一般看规律")
- stc.push("不会splay的蒻菜不是好蒻菜~~")
- stc.push("EOF：喵呜，给人类的智商跪了！")
- stc.push("WA是种习惯，TLE是种态度~ by sinianluoye")
- stc.push("一入搜索深似海，从此AC是路人 by hyxqshk")
- stc.push("求带刷大白书DP by Heart_Blue")
- stc.push("饭前一AC，饭后涨姿势~ by mathlover")
- stc.push("珎适厉害啊~ by peter1341")
- stc.push("hzwer是我们的学长，我们是他的小号 by seekdreamer")
- stc.push("Stilwell真是太萌啦！ by Ric_shooter")
- stc.push("算法努力，AC随缘。 by SFire")
- stc.push("世界上本没有算法，暴力的人多了，也就有了算法。 by 092000")
- stc.push("预祝大家多校成功，多多AC，争取AK。 by Suvigo")
- stc.push("EOF我爱你！我要给你生孩子！！ by admin")
- stc.push("没有dp的日子仿佛饭菜没放盐，没有树巨结垢的日子仿佛口袋没有钱 by mathlover")

